.popularSection {
  width: 100%;
}

.title {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--black-color);
  margin-bottom: 32px;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  width: 100%;
}

.error {
  color: var(--error-color);
}

@media (min-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 1.16;
    margin-bottom: 40px;
  }

  .list {
    grid-template-columns: repeat(2, 342px);
    gap: 40px 20px;
    justify-content: flex-start;
  }
}

@media (min-width: 1440px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 20px;
  }
}