.button {
  padding: 16px 32px;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4285;
  letter-spacing: -0.02em;
  cursor: pointer;
  border: none;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
  text-transform: uppercase;
}

.primary {
  background-color: var(--black-color);
  color: var(--white-color);
}

.primary:hover,
.primary:focus {
  background-color: #BFBEBE;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 16px;
  }
}
