.tabsContainer {
  margin: 0 -16px;
}

.tabList {
  position: relative;
  display: flex;
  gap: 30px;
  padding: 0 16px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  border-bottom: 1px solid var(--gray-color);
}

.tabList::-webkit-scrollbar {
  height: 6px;
}

.tabList::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

.tabContent {
  min-height: 200px;
  padding: 0 16px;
}

.tabBtn {
  position: relative;
  z-index: 2;
  flex: 0 0 auto;
  padding: 0 0 14px;
  color: var(--gray-color);
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.24;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.tabBtn:hover {
  color: #050505;
}

.tabBtn.active {
  border-bottom: 1px solid var(--black-color);
  color: var(--black-color);
}

@media screen and (min-width: 768px) {
  .tabsContainer {
    max-width: 704px;
    margin: 40px 0 0;
  }

  .tabList {
    padding: 0;
    gap: 40px;
  }

  .tabContent {
    padding: 0;
    min-height: 350px;
  }

  .tabBtn {
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .tabsContainer {
    max-width: 846px;
  }
}
