.pathInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
}

.link {
  color: var(--secondary-text-color);
  text-decoration: none;
  transition: color 0.2s ease;
}

.link:hover {
  color: var(--black-color);
}

.separator {
  color: var(--secondary-text-color);
}

.currentPage {
  color: var(--black-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pathInfo {
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .pathInfo {
    margin-bottom: 40px;
  }
}