.pathInfo {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-gray);
}

.homeLink {
  text-decoration: none;
}

.recipeTitle {
  color: var(--color-black);
}

@media (min-width: 768px) {
  .pathInfo {
    font-size: 14px;
  }
}
