.page {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

.error {
  color: var(--error-color);
  text-align: center;
  font-size: 1.2rem;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mainContent {
  flex-grow: 1;
}

.sidebar {
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .contentWrapper {
    gap: 40px;
  }
}

@media (min-width: 1440px) {
  .page {
    padding-top: 3.75rem;
    padding-bottom: 4rem;
  }
  .contentWrapper {
    align-items: flex-start;
    gap: 80px;
  }
}