:root {
  --primary-font: 'Mulish', sans-serif;

  /* Colors to be here */
  --black-rgb: 5, 5, 5;
  --black-color: rgb(var(--black-rgb));

  --charcoal-rgb: 26, 26, 26;
  --charcoal-color: rgb(var(--charcoal-rgb));

  --gray-rgb: 191, 190, 190;
  --gray-color: rgb(var(--gray-rgb));

  --light-gray-rgb: 232, 232, 232;
  --light-gray-color: rgb(var(--light-gray-rgb));

  --white-rgb: 255, 255, 255;
  --white-color: rgb(var(--white-rgb));

  --red-rgb: 174, 0, 0;
  --red-color: rgb(var(--red-rgb));

  --main-bg-color: var(--white-color);
  --main-text-color: var(--black-color);

  --primary-bg-color: var(--charcoal-color);
  --primary-active-bg-color: var(--black-color);
  --primary-text-color: var(--white-color);

  --secondary-text-color: var(--gray-color);

  --border-color: var(--light-gray-color);
  --error-color: var(--red-color);
}

html {
  scroll-behavior: smooth;
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  background-color: var(--main-bg-color);
  font-size: 16px;
  font-family: var(--primary-font);
  line-height: 1.5;
  color: var(--main-text-color);
}

main {
  flex-grow: 1;
}

.hidden {
  display: none !important;
}

.bg-primary {
  background-color: var(--primary-bg-color);
}

.bg-inverse {
  background-color: var(--primary-text-color);
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.static {
  animation: unset;
}

.picture {
  max-width: 100%;
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}
