.component {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--gray-color);
  }
}

.user {
  align-items: flex-start;
  display: flex;
  gap: 16px;
}

/* Arrow icon styles */
.arrowIcon {
  width: 18px;
  height: 18px;
  filter: brightness(0) invert(1);
}

.avatar,
.username,
.recipe {
  transition: opacity 0.3s;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.avatar {
  border-radius: 50%;
  overflow: hidden;

  img {
    display: block;
    object-fit: cover;
  }
}

.username {
  margin-bottom: 4px;

  a {
    color: var(--black-color);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.recipes-count {
  color: var(#BFBFBF);
  font-size: 12px;
  margin-bottom: 8px;
}

.recipes {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  padding-left: 60px;
}

.recipe {
  border-radius: 15px;
  overflow: hidden;

  img {
    display: block;
    height: 100px;
    object-fit: cover;
    width: 100px;
  }
}

.action {
  color: var(--black-color);

  &:hover,
  &:focus {
    color: var(--white-color);
  }
}

@media (min-width: 768px) {
  .component {
    margin-top: 40px;
  }

  .avatar img {
    height: 85px;
    width: 85px;
  }

  .username {
    font-size: 20px;
  }

  .recipes-count {
    font-size: 14px;
  }
}