.card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  margin-top: 32px;
}

.image {
  flex-shrink: 0;
  width: 75px;
  height: 75px;
  border-radius: 15px;
  object-fit: cover;
}

.section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  overflow: hidden;
}

.title {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--black-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: var(--gray-rgb);

  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;     /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4px;
  padding-left: 6px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .card {
    gap: 16px;
    margin-top: 40px;
  }

  .image {
    width: 100px;
    height: 100px;
    border-radius: 15px;
  }

  .section {
    gap: 10px;
  }

  .title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
  }

  .description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: var(--charcoal-color);
  }

  .buttons {
    padding-left: 16px;
  }
}

