.infoText {
  padding: 80px 0 100px 0;
  font-size: 14px;
  color: #bfbebe;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 60px;
  flex: 1;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .infoText {
    padding: 100px 47px 200px 47px;
    font: 16px;
    color: #1a1a1a;
    line-height: 24px;
  }
}

@media screen and (min-width: 1400px) {
  .infoText {
    padding: 140px 118px 259px 118px;
  }
}