/* Mobile-first base styles */
.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--gray-color);
}

/* Tablet styles (768px+) */
@media screen and (min-width: 768px) {
  .footer {
  }
}

/* Desktop styles (1440px+) */
@media screen and (min-width: 1440px) {
  .footer {
  }
}