.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.titlesContainer {
  display: flex;
  flex-direction: column;
}

.breadcrumb {
  font-size: 12px;
  color: #bfbebe;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.breadcrumb span {
  color: #050505;
}

.title {
  text-transform: uppercase;
}

.subtitle {
  color: #1a1a1a;
}

.btn {
  display: flex;
  width: 100%;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .breadcrumb {
    margin-bottom: 40px;
  }

  .titlesContainer {
    width: 443px;
  }

  .btn {
    margin: 0 auto 80px auto;
    width: 394px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-top: 3.75rem;
    padding-bottom: 4rem;
    margin-bottom: 0;
  }

  .subtitle {
    color:  #bfbebe;
  }

  .sectionWrapper {
    display: flex;
    gap: 40px;
  }

  .tabs {
    flex-grow: 1;
  }

  .btn {
    margin-bottom: 0;
  }
}