:root {
  font-family: "Inter", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-black: #050505;
  --color-dark-gray: #1A1A1A;
  --color-gray: #BFBFBF;
  --color-white: #FFFFFF;

  --main-text-color: var(--color-black);
  --secondary-text-color: var(--color-dark-gray);
  --gray-color: var(--color-gray);

  --primary-bg-color: var(--color-black);
  --primary-text-color: var(--color-white);

  color: var(--main-text-color);
  background-color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Breakpoints */
@media screen and (min-width: 375px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 4rem;
  }
}
