.mainInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recipeImage {
  width: 100%;
  height: auto;
  aspect-ratio: 343 / 318;
  object-fit: cover;
  border-radius: 30px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--black-color);
}

.tags {
  display: flex;
  gap: 8px;
}

.tag {
  padding: 10px;
  border: 1px solid var(--secondary-text-color);
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary-text-color);
}

.description {
  font-size: 14px;
  line-height: 1.43;
  color: var(--charcoal-color);
}

.authorButton {
  display: flex;
  align-items: center;
  gap: 16px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: left;
}

.authorAvatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--light-gray-color);
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.authorLabel {
  font-size: 12px;
  color: var(--secondary-text-color);
}

.authorName {
  font-size: 14px;
  font-weight: 700;
  color: var(--secondary-text-color);
}

@media (min-width: 768px) {
  .recipeImage {
    height: 400px;
    aspect-ratio: 704 / 400;
  }

  .title {
    font-size: 24px;
    line-height: 1.16;
  }

  .description {
    font-size: 16px;
    line-height: 1.5;
  }

  .authorAvatar {
    width: 50px;
    height: 50px;
  }

  .authorName {
    color: var(--charcoal-color);
  }
}

@media (min-width: 1440px) {
  .mainInfo {
    flex-direction: row;
    gap: 80px;
  }

  .recipeImage {
    width: 551px;
    height: 400px;
    flex-shrink: 0;
  }

  .details {
    flex-grow: 1;
  }
}